$color-dark: #110f15;
$color-red-dark: #503033;

$color-blue: #85a7bc;
$color-orange: #ac5a2e;
$color-orange-light: #e59750;

$color-black: #000000;
$color-white: #ffffff;

// Default font size
$default-font-size: 16px;
