$color-secondary: #653f29;

$color-blue: #29170e;
$color-blue-light-1: #dc8b30;
$color-blue-light-2: #efd1ab;

$color-black: #0f0f0f;
$color-white: #f8f8f8;

// Default font size
$default-font-size: 16px;
