.card {
  width: 24%;
  margin-bottom: 2rem;
  &__image {
    padding-top: 30rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 1rem;
  }
}
